.breadcrumbs {
  margin-bottom: 34px;

  @include vp-420 {
    margin-bottom: 30px;
  }
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  position: relative;
  list-style: none;
  margin-right: 24px;

  &:not(:last-child) {
    ::before {
      content: "/";
      position: absolute;
      top: 0;
      right: -13px;
    }
  }
}

.breadcrumbs__link {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $color-quartz;

  &::after {
    position: absolute;
    content: "";
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-black;
    opacity: 0;
    transition: opacity $trans-default;
  }

  &:hover::after {
    opacity: 1;
  }

  &--active {
    color: $color-default-black;
  }
}
