.card {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $color-glacier;
  border-bottom: 1px solid $color-glacier;
  margin-bottom: 25px;
}

.card__item {
  display: flex;
  max-width: 400px;
}

.card__img {
  width: 130px;
  height: 160px;
  flex: 0 0 auto;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.card__descriptions {
  padding-left: 20px;
  padding-right: 10px;
}

.card__descriptions-tile {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-default-black;
  margin: 0 0 15px 0;
}

.card__descriptions-text {
  font-size: 12px;
  line-height: 15px;
  color: $color-quartz;
  margin: 0 0 10px 0;

  span {
    color: $color-default-black;
    margin-left: 5px;
  }
}
