.counter {
  display: flex;
  align-items: center;

  input {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

.counter__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-glacier-1;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 30px;
  padding: 5px 10px;
  width: 153px;


  @include vp-420 {
    margin-left: 5px;
    margin-right: 10px;
    width: 160px;
  }
}

.counter__discount-before,
.counter__discount-after {
  font-size: 12px;
  line-height: 15px;
  text-decoration: line-through;
  color: $color-quartz;
  margin-bottom: 5px;
}

.counter__before,
.counter__after {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: $color-default-black;

  @include vp-420 {
    font-size: 16px;
    line-height: 21px;
  }
}

.counter__count {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-black;
  user-select: none;
}

.counter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--minus {
    background: url('../../img/svg/icon-minus.svg');
  }

  &--plus {
    background: url('../../img/svg/icon-plus.svg');
  }

  &:disabled {
    opacity: 0.3;
  }

  &--top {
    margin-top: -27px;
  }
}
