.counter {
  display: flex;

  input {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    max-width: 80px;
  }
}

.counter__inner {
  display: flex;
  align-items: center;
  background: $color-glacier-1;
  border-radius: 5px;
  margin-right: 30px;
}

.counter__discount-before,
.counter__discount-after {
  font-size: 12px;
  line-height: 15px;
  text-decoration: line-through;
  color: $color-quartz;
}

.counter__before,
.counter__after {
  font-size: 20px;
  line-height: 24px;
  color: $color-default-black;
}

.counter__count {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-black;
}

.counter__btn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--minus {
    background: url('../../img/svg/icon-minus.svg');
  }

  &--plus {
    background: url('../../img/svg/icon-plus.svg');
  }
}
