.input-label {
  position: relative;
  width: 48%;
}

.input-field {
  display: inline-block;
  min-height: 50px;
  padding: 0 16px 0 16px;
  border: 1px solid $color-glacier;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-black;
  width: 100%;
  margin-bottom: 20px;
  transition: border $trans-default;
  outline: none;

  @include vp-420 {
    margin-bottom: 11px;
  }

  &:not(:focus):invalid {
    border-color: $color-glacier;
  }

  &:invalid {
    border-color: $color-torch-red;
  }

  &:focus:invalid {
    border-color: $color-torch-red;
  }

  &:not(:focus):valid {
    border-color: $color-glacier;
  }

  &:not(:focus):valid:hover {
    border-color: $color-default-black;
  }

  &:not(:focus):invalid:hover {
    border-color: $color-default-black;
  }

}

.input-field::placeholder {
  font-size: 16px;
  line-height: 21px;
  color: $color-quartz;
}

.input-span {
  position: absolute;
  top: -13px;
  left: 12px;
  padding: 0 5px;
  background-color: $color-default-white;
  opacity: 0;
  transition: opacity $trans-default;

  @include vp-420 {
    top: -30px;
  }

  &--address {
    top: -28px;
  }
}

.input-field:focus~.input-span {
  opacity: 1;
}

.input-textarea {
  padding: 15px 20px;
  min-height: 140px;
  margin-bottom: 0;

  @include vp-420 {
    padding: 13px 16px;
    min-height: 120px;
  }
}

.input-textarea-text {
  font-size: 12px;
  line-height: 15px;
  color: $color-quartz;
  margin: 0;
  padding-left: 20px;

  @include vp-420 {
    margin-top: -10px;
    padding-left: 17px;
  }
}

.input-padding {
  padding-right: 160px;

  @include vp-1023 {
    padding-right: 95px;
  }
}

.input-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  color: $color-default-black;
  font-weight: bold;
  transition: opacity $trans-default;

  &:hover {
    opacity: 0.4;
  }

  @include vp-420 {
    right: 0;
  }

  svg {
    margin-right: 10px;
  }
}

.input-email {
  padding: 0 155px 0 16px;

  @media(max-width: 420px) {
    padding: 0 135px 0 16px;
  }
}

.input-address {
  padding: 0 65px 0 16px;

  @media(max-width: 420px) {
    padding: 0 50px 0 16px;
  }
}

.input-field--green {
  border-color: $color-tangerine;

  &:focus:valid {
    border-color: $color-tangerine;
  }

  &:not(:focus):valid {
    border-color: $color-tangerine;
  }
}
