.input-label {
  position: relative;
  width: 48%;
}

.input-field {
  display: inline-block;
  min-height: 50px;
  padding: 0 16px;
  border: 1px solid $color-glacier;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-black;
  width: 100%;
  margin-bottom: 20px;
  transition: border $trans-default;
  outline: none;

  &:not(:focus):invalid {
    border-color: $color-glacier;
  }

  &:invalid {
    border-color: $color-torch-red;
  }

  &:focus:invalid {
    border-color: $color-torch-red;
  }

  &:not(:focus):valid {
    border-color: $color-glacier;
  }

  &:not(:focus):valid:hover {
    border-color: $color-default-black;
  }

  &:not(:focus):invalid:hover {
    border-color: $color-default-black;
  }

}

.input-field::placeholder {
  font-size: 16px;
  line-height: 21px;
  color: $color-quartz;
}

.input-span {
  position: absolute;
  top: -13px;
  left: 12px;
  padding: 0 5px;
  background-color: $color-default-white;
  opacity: 0;
  transition: opacity $trans-default;

  &--address {
    top: -28px;
  }
}

.input-field:focus~.input-span {
  opacity: 1;
}

.input-textarea {
  padding: 15px 20px;
  min-height: 140px;
  margin-bottom: 0;
}

.input-textarea-text {
  font-size: 12px;
  line-height: 15px;
  color: $color-quartz;
  margin: 0;
  padding-left: 20px;
}

.input-padding {
  padding-right: 160px;
}

.input-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  color: $color-default-black;
  font-weight: bold;

  svg {
    margin-right: 10px;
  }
}

.input-field--green {
  border-color: $color-tangerine;

  &:focus:valid {
    border-color: $color-tangerine;
  }

  &:not(:focus):valid {
    border-color: $color-tangerine;
  }
}
