.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform $trans-default;

  @include vp-767 {
    display: block;
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(-110%);
    background-color: $color-alice-blue;
    padding: 30px 20px;

    &.is-active {
      transform: translate(0);
      z-index: 1;
    }
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 440px;
  margin: 0 0 0 -40px;
  padding: 0;

  @include vp-1023 {
    max-width: 320px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    order: 2;
  }
}

.nav__list-item {
  list-style: none;
  padding-left: 40px;

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.nav-button {
  display: none;

  @include vp-767 {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 60px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;


    &::before {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      width: 24px;
      height: 1px;
      background-color: $color-default-black;
      transition: transform $trans-default;
    }

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 0;
      width: 16px;
      height: 1px;
      background-color: $color-default-black;
      transition: width $trans-default, transform $trans-default;
    }

    &:hover {
      &::after {
        width: 24px;
      }
    }
  }

  &.is-active {
    &::before {
      content: "";
      top: 9px;
      transform: rotate(-45deg);
    }

    &::after {
      top: 9px;
      width: 24px;
      transform: rotate(45deg);
    }
  }
}
