.policy {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $color-quartz;
  margin: 10px 0 0 0;

  a {
    color: $color-quartz;
    text-decoration: underline;
    transition: color $trans-default;

    &:hover {
      color: $color-tundora;
    }
  }

  &--footer {
    margin-top: 0;
    text-align: left;
  }
}
