.popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 16, 27, .7);
  top: 0;
  left: 0;
  z-index: 70;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity $trans-default;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.popup__body {
  width: 100%;
  min-height: 100%;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  position: relative;
  box-sizing: border-box;
  max-width: 500px;
  min-height: 200px;
  padding: 37px;
  color: $color-default-white;
  background-color: $color-tangaroa;
  border-radius: 5px;
}

.popup__title {
  color: $color-default-white;
}

.popup__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
