.suggestions-suggestion {
  padding: 15px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.suggestions-hint {
  padding: 15px 20px;
}

.suggestions-selected {
  background: $color-glacier-1;
}
