.toggle {
  display: inline-block;
  position: relative;
  width: 41px;
  height: 14px;
}

.toggle__switch {

  input:checked+span::before {
    background-color: $color-default-black;
    transform: translateX(100%);
  }
}

.toggle__slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-glacier;
  border-radius: 10px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $color-quartz;
    transition: transform $trans-default, background-color $trans-default;
  }

}
